// @import './variables.scss';

/*another leaflet-popup style*/
.leaflet-container-default {
  min-height: 500px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.leaflet-popup-content-wrapper {
  color: $color_1;
  font-size: 0.875rem;
  line-height: 24px;
  border-radius: 5px !important;
  border-left: 10px solid #158cba !important;
}
.leaflet-popup-tip-container {
  width: 50px;
  height: 15px;
}
.leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}
.leaflet-popup-content {
  div.right {
    a {
      font-size: 2rem;
    }
  }
}
